body {
  font-family: "Varela Round", sans-serif;
}

.height {
  min-height: 100vh;
}

.about-pic {
  background: url(../img/girl.jpg);
  background-size: cover;
  min-height: 60vh;
}

.title-underline {
  width: 200px;
  height: 10px;
  margin: 0 auto;
}

.title-underline-long {
  width: 40vw;
  height: 10px;
  margin: 0 auto;
}

.height-60 {
  min-height: 60vh;
}

#coding {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/coding.jpg) center/cover no-repeat fixed;
}
